{% extends 'base.html' %}

{% block title %}회원정보 수정{% endblock %}

{% block content %}
<div class="card">
    <h1>회원정보 수정</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>사용자명</label>
            <input type="text" value="{{ user.username }}" disabled>
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="first_name">이름</label>
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">성</label>
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
        </div>
        <button type="submit" class="btn btn-success">저장</button>
        <a href="{% url 'accounts:profile' %}" class="btn btn-danger">취소</a>
    </form>
</div>
{% endblock %}
